:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }

body{
    background-color: var(--body-bg-color);
    margin: 0;
    box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  margin: 0;
}

div .info-profile {
  color: var(--text-color);
  width: 30px;
}